.collection .collection-item {
    line-height: 1.0rem;
}

#font {
    text-align: center;
    font-size: 150%;
    text-transform: uppercase;
    color: black;
}

legend {
    font-size: 125%;
    color: black;
}

.submit-btn {
    width: 25%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 8px auto;
    background: linear-gradient(to bottom left, #ffffff 0%, #66ff99 100%);
    border: 0;
    outline: none;
    border-radius: 30px;
}

label {
    color: black;
}

fieldset {
    border-color: black;
}


/*================================================================================================================================
 FORMULARIO 
==================================================================================================================================*/

.formulario label {
    width: 100%;
    float: left;
    text-align: left;
    padding: 10px 15px 0 0;
}

.formulario label.error {
    float: none;
    position: relative;
    top: -5px;
    left: 21%;
    color: #f00;
    vertical-align: top;
    font-size: 12px;
    text-align: left;
    display: block;
    border-left: 3px solid #f00;
    padding: 0px 0 0 5px;
    margin: 0 0 5px 0;
}

.formulario select {
    padding: 8px;
    margin: 0px 0 10px 0;
    border: 1px solid #bab9b9;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    display: block;
    outline: none;
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
}

.formulario select:focus {
    border: 1px solid #bab9b9;
    background: #f4f4f4;
}

.formulario select.g {
    width: 50%;
}

.formulario select.m {
    width: 30%;
}

.formulario select.p {
    width: 15%;
}

.formulario select.pp {
    width: 5%;
}

.formulario input[type="submit"] {
    float: left;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin: 20px 0 20px 66%;
    background: #000;
    border: solid 0px;
    color: #fff;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background: #666;
}